<div id="container">
  <div id="principal">
    <div class="row" id="first"> 
      <span id="green">green</span>
      <app-toggle-button id="firstToggle" class="toggle" (click)="muttingAudio1($event)"></app-toggle-button>
    </div>
    <div class="row" id="second">
      <span id="blue">blue</span>
      <app-toggle-button id="secondToggle" class="toggle" (click)="muttingAudio2($event)"></app-toggle-button>
    </div>
    <div class="row" id="third">
      <span id="purple">purple</span>
      <app-toggle-button id="thirdToggle" class="toggle" (click)="muttingAudio3($event)"></app-toggle-button>
    </div>
    <div class="row" id="fourth">
      <span id="red">red</span>
      <app-toggle-button id="fourthToggle" class="toggle" (click)="muttingAudio4($event)"></app-toggle-button>
    </div>
    <div class="row" id="fifth">
      <span id="pink">pink</span>
      <app-toggle-button id="fifthToggle" class="toggle" (click)="muttingAudio5($event)"></app-toggle-button>
    </div>
    <div class="row" id="sixth">
      <span id="orange">orange</span>
      <app-toggle-button id="sixthToggle" class="toggle" (click)="muttingAudio6($event)"></app-toggle-button>
    </div>
    <div class="row" id="seventh">
      <span id="yellow">yellow</span>
      <app-toggle-button id="seventhToggle" class="toggle" (click)="muttingAudio7($event)"></app-toggle-button>
    </div>
    <div class="row" id="eigth">
      <span id="black">black</span>
      <app-toggle-button id="eighthToggle" class="toggle" (click)="muttingAudio8($event)"></app-toggle-button>
    </div>
    <div>
      <button (click)="play()" id="play"><i class="fa fa-play"></i></button>
      <button (click)="stop()" id="pause"><i class="fa fa-stop"></i></button>
      <button (click)="loop()" id="pause"><i class="fa fa-repeat"></i></button>

    </div>
  </div>
  <div id="cursorfield">
    <app-cursor-area class="cursorArea"> </app-cursor-area>
    <app-cursor-line [ngStyle]="{'left':pixels}" class="cursorLine"></app-cursor-line>
  </div>
</div>
<div>
</div>
