#area{
    height: 400px ;
    width: 500px;
    margin: 0;
    position: relative;
    background-color: white;
   
    
}

.zones{
    
    height: 50px;
    width: 500px;
    margin: 0;
}

#zone1{
    background-color: rgba(236, 233, 233, 0.76);
    border-top: 5px dashed green ;
}
#zone2{
    background-color: rgba(236, 233, 233, 0.76);
    border-top: 5px dashed blue;
}
#zone3{
    background-color: rgba(236, 233, 233, 0.76);
    border-top: 5px dashed purple;
}
#zone4{
    background-color: rgba(236, 233, 233, 0.76); 
    border-top: 5px dashed red;
}
#zone5{
    background-color: rgba(236, 233, 233, 0.76); 
    border-top: 5px dashed pink;
}
#zone6{
    background-color: rgba(236, 233, 233, 0.76); 
    border-top: 5px dashed orange;
}
#zone7{
    background-color: rgba(236, 233, 233, 0.76); 
    border-top: 5px dashed rgb(202, 202, 3);
}
#zone8{
    background-color: rgba(236, 233, 233, 0.76); 
    border-top: 5px dashed black;
}

