#area{
    height: 400px ;
    width: 500px;
    margin: 0;
    position: relative;
    background-color: white;
   
    
}

.zones{
    /* border: 1px solid rgba(0, 0, 0, 0.205); */
    height: 50px;
    width: 500px;
    margin: 0;
}

#zone1{
    background-color: rgba(236, 233, 233, 0.76);
    border-top: 5px solid green ;
}
#zone2{
    background-color: rgba(236, 233, 233, 0.76);
    border-top: 5px solid blue;
}
#zone3{
    background-color: rgba(236, 233, 233, 0.76);
    border-top: 5px solid purple;
}
#zone4{
    background-color: rgba(236, 233, 233, 0.76); 
    border-top: 5px solid red;
}
#zone5{
    background-color: rgba(236, 233, 233, 0.76); 
    border-top: 5px solid pink;
}
#zone6{
    background-color: rgba(236, 233, 233, 0.76); 
    border-top: 5px solid orange;
}
#zone7{
    background-color: rgba(236, 233, 233, 0.76); 
    border-top: 5px solid rgb(202, 202, 3);
}
#zone8{
    background-color: rgba(236, 233, 233, 0.76); 
    border-top: 5px solid black;
}

